div
  style(type="text/css"): include:stylus index.styl
  script(type="@plotdb/block"): include:lsc index.ls
  div(plug="layout")
    .pdl-layout
      div(data-type="layout")
        .pdl-cell(data-name="view")
        .pdl-cell(data-name="legend")
      div(data-type="render")
