.pdl-layout > div[data-type=layout]
  display: flex
  justify-content: center
  align-items: center
  gap: 1em
.pdl-layout.legend-bottom > div[data-type=layout]
  flex-direction: column

.pdl-layout .pdl-cell[data-name=legend] .pdlg.vertical
  min-height: fit-content

